    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About [ ceej ]</h2>
                <div class="col-lg-5 me">
                <img src="img/me.jpg" class="img-responsive img-circle" alt=""><br/><br/>
                <h3>Chris Jordan</h3>
              </div>
                <div class="col-lg-7">
                <p>A nearly 30 year-old guy from England.</p>
                <p>Bit of a geek, playing around with web app development, security research and the Internet of things.</p>
                <p>Enjoys amateur photography and scuba diving when not in front of a computer.</p>
                <p>Travelling, music festivals, good beer and television fill up any remaining time.</p>
              </div>
            </div>
        </div>
    </section>
