    <!-- Diving Section -->
    <section id="diving" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Diving</h2>
                <p>Dive Leader and Open Water Instructor in the British Sub-Aqua Club (BSAC).</p>
                <p>Over 200 dives around the UK coast and further afield, favourite sites being wrecks and drifts. Current setup is twin 300-bar 7ltr manifolded tanks on an Apeks WTX3 wing with Apeks XTX200 regs, and an O'Three MSF500 to keep warm.</p>
              </div>
            </div>
        </div>
    </section>
